p {
    margin: 10px 0;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px;
}

.btn-float {
    float: left;
    margin-right: 10px;
}
  
.img-small {
    width: 180px;
}

.chatimg {
    width: 40px;
}

.font-small {
    font-size: 12px;
}

.row.m-flex{
    float: none;
    display: flex;
    flex-flow: row wrap;
}
.row.m-flex.m-flex .col{ /* 優先度を上げるために2回指定 */
    float: none;
}
.row.m-flex.m-flex .col:not([class*="offset-"]){
    margin-left: unset; /* 元々ついているmargin-left: autoを解除 */
}